/*--------------------------------------------------------------
4. wpo-footer
--------------------------------------------------------------*/
.wpo-site-footer {
    position: relative;
    background: $scervic-btn-bg;
    font-size: 15px;
    overflow: hidden;
    z-index: 1;

    &::before {
        position: absolute;
        content: "";
        background: $blog-btn-color;
        left: 0;
        top: 0;
        width: 650px;
        height: 100%;
        z-index: -1;

        @media (max-width:1440px) {
            width: 420px;
        }

        @media (max-width:1024px) {
            width: 280px;
        }

        @media (max-width:992px) {
            display: none;
        }
    }

    ul {
        list-style: none;
    }

    p {
        color: $white;
    }

    li {
        color: $white;
    }

    .container {
        position: relative;
    }

    .wpo-upper-footer {
        padding: 70px 0;
    }

    @media (max-width: 991px) {

        .wpo-upper-footer {
            padding: 50px 0 0;
        }
    }

    @media (max-width: 767px) {

        .wpo-upper-footer {
            padding: 60px 0 0;
        }
    }

    @media (max-width: 991px) {

        .wpo-upper-footer .col {
            min-height: 235px;
            margin-bottom: 70px;
        }
    }

    @media (max-width: 767px) {

        .wpo-upper-footer .col {
            min-height: auto;
            margin-bottom: 60px;
        }
    }

    .widget-title {
        margin-bottom: 30px;
    }

    @media (max-width: 767px) {

        .widget-title {
            margin-bottom: 20px;
        }
    }


    .widget-title {
        h3 {
            font-size: 22px;
            color: $dark-gray;
            margin: 0;
            position: relative;
            font-family: $heading-font;
            font-weight: 700;
        }

        .laft-footar-hadding {
            color: $white;

            @media (max-width:991px) {
                color: $dark-gray;
            }
        }

        p {
            font-family: $base-font;
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            margin: 22px 0;

            @media (max-width:991px) {
                color: $body-color;
            }
        }


    }

    .about-widget {
        .logo {
            max-width: 180px;
        }
    }

    .about-widget {
        p {
            margin-bottom: 0.8em;
            line-height: 1.9em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .wpo-service-link-widget {
        padding-left: 70px;
    }

    .link-widget {
        overflow: hidden;


        @media screen and (min-width: 1200px) {
            padding-left: 40px;
        }

        @media (max-width: 1199px) {
            padding-left: 20px;
        }

        @media (max-width: 991px) {
            padding-left: 0;
        }

        @media (max-width: 767px) {
            max-width: 350px;
        }

        ul {
            li {
                position: relative;

                a {
                    color: $body-color;
                    font-size: 18px;
                    font-family: $base-font;
                    line-height: 40px;

                    &:hover {
                        color: $theme-primary-color;
                    }
                }
            }

            li+li {
                padding-top: 15px;
            }
        }

        .contact {
            li {
                display: flex;
                font-family: $base-font;
                font-size: 17px;
                font-weight: 400;
                line-height: 22px;
                color: $white;
                margin-top: 10px;

                @media (max-width:991px) {
                    color: $dark-gray;
                }

                i {
                    color: $border-color;
                    padding-right: 8px;
                }

            }
        }
    }

    .tag-widget {
        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                a {
                    display: block;
                    padding: 8px 20px;
                    background: rgba(255, 255, 255, .1);
                    font-size: 16px;
                    color: $white;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    border-radius: 5px;
                }
            }
        }
    }

    .social-widget {
        ul {
            li {
                a {
                    display: block;
                    font-size: 16px;
                    font-weight: 600;
                    color: $white;
                    margin-bottom: 10px;

                    &:hover {
                        color: $theme-primary-color;
                    }

                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
    }


    .wpo-lower-footer {
        text-align: center;
        position: relative;
        background: $theme-primary-color-s3;

        .row {
            padding: 20px 0;
            position: relative;
        }

        .copyright {
            display: inline-block;
            margin: 0;
            color: $text-color-s2;
            font-family: $base-font;
            font-size: 17px;
            font-weight: 500;
            line-height: 22px;


            a {
                color: $text-color-s2;
                text-decoration: none;
            }

            @media (max-width: 991px) {
                float: none;
                display: block;
            }
        }
    }

    .instagram {
        ul {
            display: flex;
            flex-wrap: wrap;
            margin: 0px -3px;

            li {
                -ms-flex: 0 0 33.33%;
                flex: 0 0 33.33%;
                max-width: 33.33%;
                margin-bottom: 5px;
                padding: 0px 3px;

                img {
                    width: 100%;
                }
            }
        }
    }
}